* {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../IMG/Start.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
    font-size: 18pt;
    text-align: center;
}

.container {
    margin: 20px 20px;
    position: relative;
}

h1 {
    color: #fff;
    position: absolute;
    top: -5%;
    font-size: 100pt;
    background-color: #620000;

}

.paTakashit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#contenuto {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    height: 60%;
    width: 45%;
    top: 20%;
    /* z-index: -1; */
}

#container {
    background-color: rgb(19, 19, 19);
    width: 100%;
    grid-area: 2 / 1 / 4 / span 2;
    justify-self: center;
}

#demo {
    position: absolute;
    margin: 0 5%;
    color: #ffdd00;
    font-size: 25pt;
    top: 35%;
}

#risposta {
    background-color: rgba(43, 43, 43, 0.643);
    grid-area: 2 / 1 / 1 / span 2;
    border: 1px solid white;
    transition: background-color 5s ease-in-out;
    color: #fff;

    /* transform: translate(-50%, -50%); */
    z-index: -1;
    position: relative;
}

#risposta.loading {
    animation: loading-animation 5s ease-in-out;
}

@keyframes loading-animation {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

canvas {
    display: block;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 1;
}

.option {
    /* display: block; */
    display: none;
    padding: 10px;
    font-size: 16px;
    background-color: #b01717e5;
    color: #fff;
    border: 1px solid white;
    cursor: pointer;
    margin: 1% auto;
    width: 50%;

}

.option:hover {
    background-color: #001b38;
}

#stateMachine {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200%;
}

.choices {
    margin-top: 20px;
}

.state {
    padding: 10px;
    margin-bottom: 10px;
}

.state.active {
    background-color: #007bff;
    color: #fff;
}

#cerchio {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transpaTakashit;

}

#cerchio.loaded {
    background-color: rgb(98, 225, 159);
}